@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto:wght@300&display=swap");

.App {
  font-family: "Roboto", sans-serif;
}
.my-dropdown {
  width: 300px;
  padding-left: 30px;
  padding-bottom: 30px;
}
